:root {
  --primary-color: #40E0D0;
  --secondary-color: #87CEEB;
  --text-color: white;
  --input-background: rgba(255, 255, 255, 0.2);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}
